// FONT
$remInit: 10px;
$baseFontSize: 1.6rem;

$fontOpenSans: 'Open Sans', Helvetica, Arial;
$mainFont: $fontOpenSans;
$titleFont: $fontOpenSans;
$fontHeader: $fontOpenSans;

$bodyBackground: white;
